.featured-items-pad {
  padding: 0 100px;
  display: grid;
  text-align: center;
}

.featured-items-container {
  width: 100px;
  max-width: 100px;
  justify-content: center;
  text-align: center;
}

.featured-items-card {
  width: 100%;
  justify-content: center;
  text-align: center;
  grid-row: 1;
}

.mat-card {
  width: 200px;
  display: inline-block;
  margin: 15px;
  background-color: #aa82fa09;
}

.featured-items-title {
  padding-top: 10px;
  font-weight: 500;
  color: #663BBA;
}

.featured-oi {
  padding-top: 1px!important;
}

hr {
  border-radius: 20px;
  border-width: 1.5px;
}

.h1-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #663BBA;
  font-family: 'Fira Sans', sans-serif;
}

.h1-pad {
  padding: 0 105px;
  height: 25px;
}

.mat-grid-list {
  padding-top: 0!important;
  margin-top: 0!important;
}

