
<div class="featured-items-pad">


  <mat-grid-list cols="6" rowHeight="1:1">

    <!-- <div class="featured-items-container">
      <mat-grid-tile>
        <img src="/assets/img/featured-items-electronics.png" alt="beer" height="150px">
      </mat-grid-tile>
    </div>

    <div class="featured-items-container">
      <mat-grid-tile>
        <img src="/assets/img/featured-items-produce.png" alt="beer" height="150px">
      </mat-grid-tile>
    </div>

    <div class="featured-items-container">
      <mat-grid-tile>
        <img src="/assets/img/featured-items-shirt.png" alt="beer" height="150px">
      </mat-grid-tile>
    </div>

    <div class="featured-items-container">
      <mat-grid-tile>
        <img src="/assets/img/featured-items-smoked-meats.png" alt="beer" height="150px">
      </mat-grid-tile>
    </div>

    <div class="featured-items-container">
      <mat-grid-tile>
        <img src="/assets/img/featured-items-weights.png" alt="beer" height="150px">
      </mat-grid-tile>
    </div> -->

    <div class="h1-pad">
      <h1 class="h1-title">
        <strong>Featured Items</strong> - These won't last long!
      </h1>
    </div>

    <mat-card class="featured-items-card">
      <img src="/assets/img/featured-items-produce.png" alt="beer" height="130px">
      <mat-card-content>
        <h2 class="featured-items-title">
          Fresh Produce
        </h2>
        <hr>
        <p class="featured-items-content">
          Fresh organic produce at our best prices!
        </p>
      </mat-card-content>
    </mat-card>

      <mat-card class="featured-items-card">
        <img src="/assets/img/featured-items-smoked-meats.png" alt="beer" height="130px">
        <mat-card-content>
          <h2 class="featured-items-title">
            Smoked Meats
          </h2>
          <hr>
          <p class="featured-items-content">
            Shop our smoked meats at our best prices!
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="featured-items-card">
        <img src="/assets/img/featured-items-shirt.png" alt="beer" height="130px">
        <mat-card-content>
          <h2 class="featured-items-title">
            Fashion
          </h2>
          <hr>
          <p class="featured-items-content">
            The latest trends at our best prices!
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="featured-items-card">
        <img src="/assets/img/featured-items-cleaning.png" alt="beer" height="130px">
        <mat-card-content>
          <h2 class="featured-items-title">
            Cleaning Products
          </h2>
          <hr>
          <p class="featured-items-content">
            Get your cleanest at our best prices!
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="featured-items-card">
        <img src="/assets/img/featured-items-electronics.png" alt="beer" height="130px">
        <mat-card-content>
          <h2 class="featured-items-title">
            Electronics
          </h2>
          <hr>
          <p class="featured-items-content">
            Your favorite gadgets at our best prices!
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="featured-items-card">
        <img src="/assets/img/featured-items-weights.png" alt="beer" height="130px">
        <mat-card-content>
          <h2 class="featured-items-title">
            Fitness
          </h2>
          <hr>
          <p class="featured-items-content">
            Bulk up or slim down at our best prices!
          </p>
        </mat-card-content>
      </mat-card>


  </mat-grid-list>

</div>



