.toolbar-logo {
  width: 200px;
  margin-bottom: 5px;
  padding: 0 20px;
}

.mat-toolbar {
  background: #673AB7;
}

.mat-toolbar-row, mat-toolbar-single-row {
  padding: 0 16px;
  margin: 10px;
}

.mat-icon {
  color: #FFF;
}

.header-spacer {
  flex: 1 1 auto;
}

.header-links-div {
  margin: 40px;
}

.header-links {
  flex: 1 1 auto;
  margin: 40px;
  color: #FFF;
  font-weight: lighter;
  font-size: 1.05rem;
}

.ship-to-text {
  color: #FFD740;
  font-weight: 600;
  font-size: .9rem;
  padding-right: 10px;
  letter-spacing: .07rem;
}

.ship-to-pad {
  margin-right: 76px;
}
