<mat-toolbar>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <img class="toolbar-logo" src='assets/img/the-generic-shop.png' alt="">

  <div class="header-links-div">

    <span [style.cursor]="'pointer'" routerLink="/produce" class="header-links">Produce</span>
    <span [style.cursor]="'pointer'" routerLink="/clothing" class="header-links">Clothing</span>
    <span [style.cursor]="'pointer'" routerLink="/electronics" class="header-links">Electronics</span>

  </div>

  <span class="header-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Account icon">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Shopping cart icon">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
