<div class="footer-demo" ng-app="footerDemo" layout="row" layout-fill>
  <div class="md-padding" layout="column" layout-fill>
    <header>
        <div class="md-toolbar-tools">
          <h3></h3>
        </div>
    </header>
      <div class="md-padding" flex="noshrink">
        <div></div>
      </div>
      <footer class="md-padding">
        <div id="btmFooter" flex>
          <p></p>
          <img class="footer-logo" src='assets/img/the-generic-shop-color.png' alt="">
        </div>

        <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
          <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
            <p>back to top</p>
              <i class="fas fa-chevron-up" ></i>
          </button>
        </div>

      </footer>
  </div>

</div>
