<div class="footer-demo" ng-app="footerDemo" layout="row" layout-fill>
  <div class="md-padding" layout="column" layout-fill>
    <header>
        <div class="md-toolbar-tools">
          <h3></h3>
        </div>
    </header>
      <div class="md-padding" flex="noshrink">
        <div></div>
      </div>
      <footer class="md-padding">
        <div id="btmFooter" flex>
          <p></p>
          <img class="footer-logo" src='assets/img/the-generic-shop-color.png' alt="">
        </div>
      </footer>
  </div>

</div>
