.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.home-search-bar {
  width: 50%;
  padding-bottom: 15px;
}

form {
  justify-content: center;
}

.mat-card {
  padding: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: none;
}

.search-pad {
  justify-content: center;
  text-align: center;
  margin: 0 175px;
  position: relative;
}

.search-btn {
  margin-right: 10px;
}

.mat-raised-button {
  min-width: 20px;
  padding: 0 4px 0 6px;
}

.mat-icon {
  color: white;
}
