
<div class="featured-items-pad">


  <mat-grid-list cols="5" rowHeight="1:1">

    <div class="h1-pad">
      <h1 class="h1-title">
        Popular Categories In Your Area
      </h1>
    </div>

    <div class="featured-items-container">
      <mat-grid-tile>
        <img src="/assets/img/popular-categories-alcohol.png" class="popular-img" alt="beer">
        <div class="img-text-container">
          <div class="img-text">Beer, Wine, Spirits</div>
        </div>
      </mat-grid-tile>
    </div>

    <div class="featured-items-container">
      <mat-grid-tile>
        <img src="/assets/img/popular-categories-meats-fish.png"  class="popular-img" alt="beer">
        <div class="img-text-container">
          <div class="img-text">Meat, Fish, Poultry</div>
        </div>
      </mat-grid-tile>
    </div>

    <div class="featured-items-container">
      <mat-grid-tile>
        <img src="/assets/img/popular-categories-frozen-foods.png"  class="popular-img" alt="beer">
        <div class="img-text-container">
          <div class="img-text">Frozen Foods</div>
        </div>
      </mat-grid-tile>
    </div>

    <div class="featured-items-container">
      <mat-grid-tile>
        <img src="/assets/img/popular-categories-baby-items.png"  class="popular-img" alt="beer">
        <div class="img-text-container">
          <div class="img-text">Baby Items</div>
        </div>
      </mat-grid-tile>
    </div>

    <div class="featured-items-container">
      <mat-grid-tile>
        <img src="/assets/img/popular-categories-view-more.png"  class="popular-img" alt="beer">
        <div class="img-text-container">
          <div></div>
        </div>
      </mat-grid-tile>
    </div>




  </mat-grid-list>


</div>



