/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100vh;
  padding: auto;
  margin: auto;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  overflow-y: scroll;
  background: #FBD62A;
  box-shadow: inset 0 0 4px #bd9503;
}

::-webkit-scrollbar-thumb {
  background: #865add;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
